{%- if page.preload_images and page.preload_images.size > 0 -%}
  {%- for img in page.preload_images -%}
    {%- assign img_trim = img | strip -%}
    {%- if img_trim != "" -%}
      <link rel="preload" as="image" href="{{ img_trim | relative_url }}">
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

<!-- Do not remove, removal will cause hamburger icon in top right corner of mobile view to disappear. Compensates for bug in remote theme. -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" referrerpolicy="no-referrer">

<!-- Penguin-ish typography -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">