{%- assign items = site.data.recent_commits.items | default: empty -%}
{%- assign max_recent_commits = 7 -%}

<section id="recent-commits-block">
  <h2>Recent Activity <span class="section-heading-meta">(GitHub commits)</span></h2>
  {%- if items.size > 0 -%}
    <ul class="recent-commits">
      {%- for c in items limit:max_recent_commits -%}
        <li><span class="recent-commit-icon" aria-hidden="true">{% octicon git-commit %}</span>
          <a href="https://github.com/{{ site.data.recent_commits.owner | escape }}/{{ c.repo | escape }}">{{ c.repo | escape }}</a>
          ·
          <a href="{{ c.url | escape }}">{{ c.message | escape }}</a>
          ·
          <span class="post-meta">{{ c.date | date: "%d-%m-%Y" }}</span>
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</section>
